<page-header> </page-header>
<nz-card [nzExtra]="extra">
  <ng-template #extra>
    <a (click)="onCreate()">新建</a>
  </ng-template>
  <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf> -->
  <!-- <st #st [data]="appverDataSet" [columns]="columns"></st> -->
  <st
    [pi]="pageService.pageIndex"
    [ps]="pageService.pageSize"
    [total]="pageService.total"
    [page]="pageService.config"
    #st
    [data]="appverDataSet"
    [columns]="columns"
  >
  </st>
</nz-card>

<ng-template #appverFormComponent>
  <sf #sf layout="horizontal" [button]="null" [schema]="schema" [formData]="formData"></sf>
</ng-template>
