<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>

  <st [pi]="pageService.pageIndex" [ps]="pageService.pageSize" [total]="pageService.total" [page]="pageService.config"
    #st [data]="dataSet" [columns]="columns">
    <ng-template #expand let-item let-index="index" let-column="column">
      {{ item.itemTitle }}
    </ng-template>
  </st>
</nz-card>
