<page-header> </page-header>
<nz-card [nzExtra]="extra">
  <ng-template #extra>
    <a (click)="create()">新建</a>
  </ng-template>
  <st
    [pi]="pageService.pageIndex"
    [ps]="pageService.pageSize"
    [total]="pageService.total"
    [page]="pageService.config"
    #st
    [data]="laboratoryTypeDataSet"
    [columns]="columns"
  >
    <ng-template st-row="description" let-item>
      <ellipsis lines="1" tooltip>{{ item.description }}</ellipsis>
    </ng-template>
  </st>
</nz-card>

<ng-template #typeFormComponent>
  <sf #sf [button]="null" [schema]="schema" [formData]="formData"> </sf>
</ng-template>
