<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="create()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf> -->
  <st #st [data]="dataSet" [columns]="columns"></st>
</nz-card>

<ng-template #appverFormComponent>
  <sf #sf layout="horizontal" [button]="null" [schema]="schema" [formData]="formData"></sf>
</ng-template>
