<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

  </ng-template>
</page-header>
<div nz-row nzGutter="32">
  <nz-col nzXs="8">
    <nz-card [nzExtra]="treeExtraTemplate">
      <ng-template #treeExtraTemplate>
        <i class="px-sm" nz-icon nzType="plus" nzTheme="outline" (click)="onCreate()"></i>
      </ng-template>
      <nz-tree #nzTreeComponent [nzExpandAll]="true" [nzData]="treeData" (nzClick)="onSelectNode($event)"> </nz-tree>
    </nz-card>
  </nz-col>
  <nz-col nzXs="16">
    <nz-card>
      <st #st [data]="userDataSet" [columns]="columns"></st>
    </nz-card>
  </nz-col>
</div>


<ng-template #addUserComponent>
  <sf #sf layout="horizontal" [button]="null" [schema]="schema"></sf>
</ng-template>
